#welcome-section, #contact{
    width:100vw;
    padding-top:0px;
    margin-top:0px;
    padding-bottom:0px;
    margin-bottom:0px;
    display:flex;
    height: 100vh;
    background: black;
    text-align:center;
    border:none;
    flex-direction: column;
    justify-content: center;
}
h1, h3{
    color:white;
}
#projects{
    width:100vw;
    height: 100vh;
    background: grey;
    margin:none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    padding-top:0px;
    border-top:0px;
}
.project-tile{
    width:500px;
    height:400px;
    background-color: white;
    margin: 0 auto;
}
.project-tile-footer{
    width:500px;
    height:50px;
    margin: 0 auto;
    background-color: white;
}
.project-tile-footer a{
    text-decoration: none;
}
@media (max-width:600px){
    #welcome-section, #contact, #projects{
        height: 50vh;
    }
}
#navbar{
    position: fixed;
    top:0;
    display: flex;
    justify-content: flex-end;
    background: red;
    width:100%;
}
#navbar a{
    text-decoration: none;
    padding: 15px;
    color:white;
}
#contact a{
    font-size: 30px;
    text-decoration: none;
    color:white;
}